Repository Salable/react-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint . --fix

fix: resolved build and type issues
  README.md
  package.json
  packages/pricing-table/src/components/SalablePricingTableReact/SalablePricingTableReact.tsx
  packages/pricing-table/src/components/SalablePricingTableReact/types.ts
  packages/pricing-table/types/components/SalablePricingTableReact/SalablePricingTableReact.d.ts
  packages/pricing-table/types/components/SalablePricingTableReact/index.d.ts
  packages/pricing-table/types/components/SalablePricingTableReact/types.d.ts
  packages/pricing-table/types/index.d.ts
  packages/pricing-table/types/types/index.d.ts
  rollup.config.mjs
Due: prettier --write, eslint . --fix

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  e1981edf1c4c521c534b348d071ded5a68391c81
Due: none

chore: checkout package initial commit
  .gitignore
  .prettierrc
  package-lock.json
  packages/checkout/.gitignore
  packages/checkout/.npmrc
  packages/checkout/.storybook/main.js
  packages/checkout/.storybook/preview.js
  packages/checkout/README.md
  packages/checkout/package-lock.json
  packages/checkout/package.json
  packages/checkout/src/components/error-boundary.tsx
  packages/checkout/src/components/modal/modal.module.css
  packages/checkout/src/components/modal/modal.tsx
  packages/checkout/src/components/paddle/paddle.provider.tsx
  packages/checkout/src/components/paddle/use-context.tsx
  packages/checkout/src/components/paddle/use-paddle.tsx
  packages/checkout/src/components/providers/render-integration.tsx
  packages/checkout/src/components/skeleton/error.skeleton.tsx
  packages/checkout/src/components/skeleton/loading.skeleton.tsx
  packages/checkout/src/components/skeleton/skeleton.module.css
  packages/checkout/src/components/stripe/checkout-form.css
  packages/checkout/src/components/stripe/checkout-form.tsx
  packages/checkout/src/components/stripe/stripe.provider.tsx
  packages/checkout/src/components/stripe/use-responsive-font-size.ts
  packages/checkout/src/constants/constants.ts
  packages/checkout/src/context/checkout.context.tsx
  packages/checkout/src/context/checkout.interface.ts
  packages/checkout/src/context/checkout.provider.tsx
  packages/checkout/src/context/checkout.reducer.tsx
  packages/checkout/src/context/index.ts
  packages/checkout/src/context/use-checkout.tsx
  packages/checkout/src/globals.d.ts
  packages/checkout/src/index.tsx
  packages/checkout/src/interfaces/paddle.interface.ts
  packages/checkout/src/interfaces/product.interface.ts
  packages/checkout/src/stories/RenderType.stories.tsx
  packages/checkout/src/typings.d.ts
  packages/checkout/tsconfig.json
Due: prettier --write, eslint . --fix

chore: remove empty file
  packages/checkout/.npmrc
Due: none

feat: updated package publishing and pricing table import name
  .releaserc.json
  package.json
  packages/pricing-table/src/components/SalablePricingTableReact/SalablePricingTableReact.tsx
  packages/pricing-table/src/components/SalablePricingTableReact/types.ts
Due: prettier --write, eslint . --fix

chore: updated js-sdk version
  packages/constants.ts
Due: prettier --write, eslint . --fix

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/pricing-table/package.json
Due: prettier --write

Notes added by 'git notes add'
  ea62bf4e82906791593c683f9ae850199470756d
Due: none

fix: peerDependencies react changed to 17.0.2 in pricing table
  packages/pricing-table/package.json
Due: prettier --write

fix: package-lock.json updated
  package-lock.json
Due: prettier --write

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
  package.json
  packages/pricing-table/package.json
Due: prettier --write

Notes added by 'git notes add'
  56de6ffbf5cab5eccef6635732e2918f908bd412
Due: none

fix: changed @types/react version
  package-lock.json
  packages/pricing-table/package.json
  rollup.config.mjs
Due: prettier --write

chore(release): 1.1.2 [skip ci]
  CHANGELOG.md
  package.json
  packages/pricing-table/node_modules/@types/react/package.json
  packages/pricing-table/package.json
Due: prettier --write

Notes added by 'git notes add'
  9d505cc605efcf46520108da60bf3ae427d32b5c
Due: none

fix: changed rollup config
  package.json
  rollup.config.mjs
Due: prettier --write

chore(release): 1.1.3 [skip ci]
  CHANGELOG.md
  package.json
  packages/pricing-table/package.json
Due: prettier --write

Notes added by 'git notes add'
  2147c6dcd357e05af5684d6c4c2e48e53e32fd71
Due: none

feat(checkout): add preview support
  .eslintignore
  jest.config.js
  package-lock.json
  package.json
  packages/checkout/package-lock.json
  packages/checkout/package.json
  packages/checkout/src/components/error-boundary.tsx
  packages/checkout/src/components/integration-provider.tsx
  packages/checkout/src/components/paddle/paddle.provider.tsx
  packages/checkout/src/components/pricing/price-details.tsx
  packages/checkout/src/components/pricing/pricing.module.css
  packages/checkout/src/components/providers/render-integration.tsx
  packages/checkout/src/components/skeleton/integration-wrapper.tsx
  packages/checkout/src/components/skeleton/skeleton.module.css
  packages/checkout/src/components/stripe/checkout-form.css
  packages/checkout/src/components/stripe/checkout-form.tsx
  packages/checkout/src/components/stripe/stripe.provider.tsx
  packages/checkout/src/constants/constants.ts
  packages/checkout/src/context/check-required-props.ts
  packages/checkout/src/context/checkout.context.tsx
  packages/checkout/src/context/checkout.interface.ts
  packages/checkout/src/context/checkout.provider.tsx
  packages/checkout/src/context/checkout.reducer.tsx
  packages/checkout/src/context/index.tsx
  packages/checkout/src/context/use-checkout.tsx
  packages/checkout/src/interfaces/context.interface.ts
  packages/checkout/src/interfaces/paddle.interface.ts
  packages/checkout/src/interfaces/product.interface.ts
  packages/checkout/src/jest.config.js
  packages/checkout/src/jest.setup.ts
  packages/checkout/src/stories/Preview.stories.tsx
  packages/checkout/src/stories/Production.stories.tsx
  packages/checkout/src/stories/RenderType.stories.tsx
  packages/checkout/src/util/message-error.ts
  packages/checkout/tsconfig.build.json
  packages/checkout/tsconfig.json
Due: prettier --write, eslint . --fix

feat: display plan details - fetch data from API - display the payment integration - display the pricing and interval
  packages/checkout/package-lock.json
  packages/checkout/package.json
  packages/checkout/src/components/integration-provider.tsx
  packages/checkout/src/components/pricing/price-details.tsx
  packages/checkout/src/components/stripe/stripe.provider.tsx
  packages/checkout/src/context/check-required-props.ts
  packages/checkout/src/context/checkout.interface.ts
  packages/checkout/src/context/checkout.provider.tsx
  packages/checkout/src/context/checkout.reducer.tsx
  packages/checkout/src/interfaces/plan.interface.ts
  packages/checkout/src/stories/Preview.stories.tsx
  packages/checkout/src/stories/Production.stories.tsx
  packages/checkout/src/util/decrypt-data.ts
Due: prettier --write, eslint . --fix

feat: add input email component
  packages/checkout/src/components/input-email/__tests__/input-email.stories.tsx
  packages/checkout/src/components/input-email/index.ts
  packages/checkout/src/components/input-email/input-email.module.css
  packages/checkout/src/components/input-email/input-email.tsx
Due: prettier --write, eslint . --fix

feat: bumped core library version to 1.3.0
  packages/constants.ts
Due: prettier --write, eslint . --fix

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/pricing-table/package.json
Due: prettier --write

Notes added by 'git notes add'
  9deb1ff7411d692c079550bbf7095603e33a1f90
Due: none

feat: bumped core library version to 1.3.1
  packages/constants.ts
Due: prettier --write, eslint . --fix

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/pricing-table/package.json
Due: prettier --write

Notes added by 'git notes add'
  3bbd0eb0034ded64b117f4a8807524db1c7f2871
Due: none

feat: handle payment intent and subscription for stripe
  packages/checkout/src/components/integration-provider.tsx
  packages/checkout/src/components/pricing/pricing.module.css
  packages/checkout/src/components/skeleton/skeleton.module.css
  packages/checkout/src/components/stripe/checkout-form.css
  packages/checkout/src/components/stripe/checkout-form.tsx
  packages/checkout/src/components/stripe/stripe-form.module.css
  packages/checkout/src/components/stripe/stripe.provider.tsx
  packages/checkout/src/context/check-required-props.ts
  packages/checkout/src/context/checkout.interface.ts
  packages/checkout/src/context/checkout.provider.tsx
  packages/checkout/src/context/checkout.reducer.tsx
  packages/checkout/src/stories/Preview.stories.tsx
  packages/checkout/src/stories/Production.stories.tsx
Due: prettier --write, eslint . --fix

fix: add return url to paddle integration
  packages/checkout/src/components/integration-provider.tsx
Due: prettier --write, eslint . --fix

feat(custom pricing table): new property in envConfig to support pricingTableUuid
  packages/pricing-table/src/components/SalablePricingTableReact/types.ts
Due: prettier --write, eslint . --fix

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/pricing-table/package.json
Due: prettier --write

Notes added by 'git notes add'
  b815ed0118af2bb1f24f1c36018b26d990f70aff
Due: none

build: update lock file with missing dependencies
  package-lock.json
Due: prettier --write

docs: added docs project and workflows
  .eslintignore
  .github/workflows/docs-build.yml
  .github/workflows/docs-sync.yml
  .gitignore
  docs/README.md
  docs/babel.config.js
  docs/docs/guide.md
  docs/docs/img/salable_logo.png
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
  docs/sidebars.js
  docs/src/css/custom.css
  docs/src/pages/index.module.css
  docs/src/pages/index.tsx
  docs/static/.nojekyll
  docs/static/img/favicon.ico
  docs/static/img/salable_logo.png
  docs/tsconfig.json
  docs/versioned_docs/version-1.1.0/example-file.md
  docs/versioned_sidebars/version-1.1.0-sidebars.json
  docs/versions.json
  rollup.config.mjs
  tsconfig.json
Due: prettier --write, eslint . --fix

ci: updated node version in workflow
  .github/workflows/docs-build.yml
Due: none

Update build.yml
  .github/workflows/build.yml
Due: none

fix: build failure based on missing test values
  packages/checkout/src/interfaces/plan.interface.ts
  packages/checkout/src/stories/Preview.stories.tsx
Due: prettier --write, eslint . --fix

feat: bumped core library version to 1.4.0
  packages/constants.ts
Due: prettier --write, eslint . --fix

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/pricing-table/package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{json,md,html,css,ts,tsx,js,jsx}
  eslint . --fix: any of: *.{js,ts,tsx}
