Repository Salable/react-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint . --fix

Notes added by 'git notes add'
  bd91a6cb4a67cf555cac951d48225e3c8ce90d81
Due: none

chore: aligned linting config to central config
  .eslintrc.js
  .prettierrc.json
  docs/src/pages/index.tsx
  package-lock.json
  package.json
  packages/pricing-table/src/components/SalablePricingTableReact/SalablePricingTableReact.stories.tsx
  packages/pricing-table/src/components/SalablePricingTableReact/SalablePricingTableReact.tsx
Due: prettier --write, eslint . --fix

feat: bumped core library version to 1.4.1
  packages/constants.ts
Due: prettier --write, eslint . --fix

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/pricing-table/package.json
Due: prettier --write

Notes added by 'git notes add'
  e44bb45878a91159c18c2fd0e31c52b549ea9452
Due: none

feat: bumped core library version to 1.4.2
  packages/constants.ts
Due: prettier --write, eslint . --fix

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/pricing-table/package.json
Due: prettier --write

Notes added by 'git notes add'
  e14917fa7b64b8ad4bae1ad3e66c61bf719f5f07
Due: none

feat: bumped core library version to 1.5.0
  packages/constants.ts
Due: prettier --write, eslint . --fix

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/pricing-table/package.json
Due: prettier --write

Notes added by 'git notes add'
  253bbff149e0b1f15d172d9706c77cf96c27649f
Due: none

feat: fetch customization styling from API
  package-lock.json
  packages/checkout/src/components/integration-provider.tsx
  packages/checkout/src/components/pricing/price-details.tsx
  packages/checkout/src/components/pricing/pricing.module.css
  packages/checkout/src/components/skeleton/integration-wrapper.tsx
  packages/checkout/src/components/skeleton/skeleton.module.css
  packages/checkout/src/components/stripe/checkout-form.css
  packages/checkout/src/components/stripe/checkout-form.tsx
  packages/checkout/src/components/stripe/stripe.provider.tsx
  packages/checkout/src/context/checkout.interface.ts
  packages/checkout/src/context/checkout.provider.tsx
  packages/checkout/src/context/checkout.reducer.tsx
  packages/checkout/src/interfaces/checkout.interface.ts
  packages/checkout/src/stories/Preview.stories.tsx
  packages/checkout/src/util/functions.ts
  packages/checkout/src/util/transform-unit.ts
Due: prettier --write, eslint . --fix

feat: checkout customization
  packages/checkout/src/components/error-boundary.tsx
  packages/checkout/src/components/input-email/input-email.tsx
  packages/checkout/src/components/integration-provider.tsx
  packages/checkout/src/components/modal/modal.tsx
  packages/checkout/src/components/paddle/paddle.provider.tsx
  packages/checkout/src/components/paddle/use-paddle.tsx
  packages/checkout/src/components/skeleton/error.skeleton.tsx
  packages/checkout/src/components/skeleton/integration-wrapper.tsx
  packages/checkout/src/components/skeleton/loading.skeleton.tsx
  packages/checkout/src/components/stripe/checkout-form.tsx
  packages/checkout/src/components/stripe/stripe.provider.tsx
  packages/checkout/src/context/check-required-props.ts
  packages/checkout/src/context/checkout.context.tsx
  packages/checkout/src/context/checkout.interface.ts
  packages/checkout/src/context/checkout.provider.tsx
  packages/checkout/src/context/checkout.reducer.tsx
  packages/checkout/src/context/use-checkout.tsx
  packages/checkout/src/stories/Preview.stories.tsx
  packages/checkout/src/util/decrypt-data.ts
  packages/checkout/src/util/transform-unit.ts
Due: prettier --write, eslint . --fix

feat: bumped core library version to 1.6.0
  packages/constants.ts
Due: prettier --write, eslint . --fix

chore(release): 1.9.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/pricing-table/package.json
Due: prettier --write

Notes added by 'git notes add'
  98974db2beecc37171cf106ebeb4ddc75890da5c
Due: none

feat: bumped core library version to 1.7.0
  packages/constants.ts
Due: prettier --write, eslint . --fix

chore(release): 1.10.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/pricing-table/package.json
Due: prettier --write

Notes added by 'git notes add'
  28ab222b71a7dfe1a0e898a910875e29f91aafeb
Due: none

feat: added currency to envConfig interface
  packages/pricing-table/src/components/SalablePricingTableReact/types.ts
Due: prettier --write, eslint . --fix

chore(release): 1.11.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/pricing-table/package.json
Due: prettier --write

Notes added by 'git notes add'
  bbb522021569167b712d15e3139fd7fcf05f2cc0
Due: none

feat: bumped core library version to 1.8.0
  packages/constants.ts
Due: prettier --write, eslint . --fix

chore(release): 1.12.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/pricing-table/package.json
Due: prettier --write

Notes added by 'git notes add'
  48a93ed2a470d661b22df6d8338d68e7422c14ef
Due: none

ci: updated docs sync workflow to use machine user
  .github/workflows/docs-sync.yml
Due: none

fix: add rendered boolean to prevent rendering twice
  packages/pricing-table/src/components/SalablePricingTableReact/SalablePricingTableReact.tsx
Due: prettier --write, eslint . --fix

fix: update sdk version
  packages/constants.ts
Due: prettier --write, eslint . --fix

chore(release): 1.12.1 [skip ci]
  CHANGELOG.md
  package.json
  packages/pricing-table/package.json
Due: prettier --write

Notes added by 'git notes add'
  5bbd9616a95e551e6c7e5c09bda8bc8b9fe58197
Due: none

fix(flow-288): fix for double pricing table rendering
  package-lock.json
  packages/pricing-table/src/components/SalablePricingTableReact/SalablePricingTableReact.tsx
Due: prettier --write, eslint . --fix

fix(flow-288): updating feedback
  packages/pricing-table/src/components/SalablePricingTableReact/SalablePricingTableReact.tsx
Due: prettier --write, eslint . --fix

fix(flow-288): moving if statement
  packages/pricing-table/src/components/SalablePricingTableReact/SalablePricingTableReact.tsx
Due: prettier --write, eslint . --fix

Notes added by 'git notes add'
  85f7f85bbdad391de80624f972676578c7f6703f
Due: none

chore(release): 1.12.2 [skip ci]
  CHANGELOG.md
  package.json
  packages/pricing-table/package.json
Due: prettier --write

fix: removed condition preventing rendering
  packages/pricing-table/src/components/SalablePricingTableReact/SalablePricingTableReact.tsx
Due: prettier --write, eslint . --fix

chore(release): 1.12.3 [skip ci]
  CHANGELOG.md
  package.json
  packages/pricing-table/package.json
Due: prettier --write

Notes added by 'git notes add'
  c16eec1a05b50990f7e1574f8c0beea9f9549806
Due: none

fix: added if condition to stop re-rendering
  packages/pricing-table/src/components/SalablePricingTableReact/SalablePricingTableReact.tsx
Due: prettier --write, eslint . --fix

Path conditions:
  prettier --write: any of: *.{json,md,html,css,ts,tsx,js,jsx}
  eslint . --fix: any of: *.{js,ts,tsx}
