Repository Salable/react-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint . --fix

.lintstagedrc.json:

{
  "*.{json,md,html,css,ts,tsx,js,jsx}": ["prettier --write"],
  "*.{js,ts,tsx}": ["eslint . --fix"]
}

chore(release): 1.12.4 [skip ci]
  CHANGELOG.md
  package.json
  packages/pricing-table/package.json
Due: prettier --write

Notes added by 'git notes add'
  0262c290dc0a8ceca0cad801db8d581a82ac610b
Due: none

feat: bumped core library version to 2.0.0
  packages/constants.ts
Due: prettier --write, eslint . --fix

chore(release): 1.13.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/pricing-table/package.json
Due: prettier --write

Notes added by 'git notes add'
  920414f9995ba8df53cf41bda926722f79831923
Due: none

feat: 2.0.0 release
  CHANGELOG.md
Due: prettier --write

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/pricing-table/package.json
Due: prettier --write

Notes added by 'git notes add'
  e90464db3b6fa775fd604ee4c8b164939faf87cc
Due: none

add legacy salable warning
  README.md
Due: prettier --write
